.card{
    position: relative;
}


.card .front{
    transform: rotateY(90deg);
    position: absolute;
}
.flipped .front { 
    transform: rotateY(0deg) ;
    }

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}