.App {

  max-width:860px ;
  margin: 40px auto;
}

button{
  background: none;
  border: 2px solid rgb(218, 206, 215);
  padding: 6px 12px;
  border-radius: 4px ;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  color: #fff;

}

button:hover{
  background-color: rgb(119, 51, 118);
  color: #fff;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  grid-gap:20px ;

}





